.newloadercss {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	box-shadow: none !important;
	outline: 0 !important;
	color: white !important;
background-color: #26284A !important;
text-decoration: none;



}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff;
    background-color: #FC664A;
    border-color: #337ab7;
}


.user-login-5 .login-logo.login-6 {
    top: 40px;
    left: 46px;
}
.profilepicture {
    max-width: 150px !important;
} 
.signInbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.signInbtn{
	color:white !important;
    background-color: #26284A !important;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #FC664A !important;
}
.showbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.showbtn{
	color:white !important;
    background-color: #26284A !important;
}
.newInfoBtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.newInfoBtn{
	color:white !important;
    background-color: #26284A !important;
}
.savebtnCss:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.savebtnCss{
	color:white !important;
    background-color: #26284A !important;
}
.btn-success:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.btn-success{
	color:white !important;
    background-color: #26284A !important;
}

.btnactionsubmit:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.btnactionsubmit{
	color:white !important;
    background-color: #26284A !important;
}
.submitAction:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.submitAction{
	color:white !important;
    background-color: #26284A !important;
}
.actioneditbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.actioneditbtn{
	color:white !important;
    background-color: #26284A !important;
}
.actionaddbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.actionaddbtn{
	color:white !important;
    background-color: #26284A !important;
}

.statdiv:hover{
	color:white;
}
.statmaindiv {
}
.statdiv {
	margin-top:20px;
}
.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #3e4f5e;
}
.modal-xl{
	width:1400px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: white;
	background-color: #FC664A;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}
.btnExtra:hover{
	background-color: #26284A;
}
.btnExtra{
	font-size: 20px;
	background-color:#FC664A;
	font-family: IBM Plex Sans, Helvetica, sans-serif
}
.createItmes{
	font-size: 20px;
}
.itemLabel{
	
}
.itemHeading{
	font-size: 17px;
	text-align:center;
	margin-bottom:5px;
}
.itemHeading1{
	text-align:left;
}
.vl{
	border-left: 2px solid #B2B2B2;
	height: 300px;
	margin-left: 20px;
}
.marginStyle{
	margin-left:25px
}
.marginStyle2{
	margin-right:15px
}
.legendstyle{
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top:15px;
	margin-bottom:1px;
	background-color:#26284A;
	color:white;
	font-family: IBM Plex Sans, Helvetica, sans-serif;
	border-radius: 0px 15px 15px 0px;
}
.newBtnCss{
	background-color:#26284A;
}
.newBtnCss1{
	background-color:#26284A;
	color:white;
}
.newBtnCss :hover{
	background-color:#FC664A;
}
.sidebarnewcss{
	background-color:#26284A;
}
.fa{
}
.tabCss{
	color:black;
}
.itemLinks:hover{
	background-color:#FC664A;
}
.page-header.navbar {
	background-color: #26284A;
}
.page-content-wrapper {
	background-color: #26284A;
}
.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
	background: #FC664A !important;
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
	background: #FC664A !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li.open > .sub-menu, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > .sub-menu {
	background: #26284A;
}
.page-sidebar .page-sidebar-menu .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
	color: #C9DFF5;
	background-color: #26284A;
}